* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}
.layout {
  width: 100%;
  border-radius: 24px;
  height: 100%;
  background: linear-gradient(to right, #fffbeb 33%, #fff 33%, #fff 100%);
  background-size: 100% 100%;
  padding: 40px;
  direction: rtl;
}

@media (max-width: 768px) {
  /* Adjust the breakpoint as needed */
  .layout {
    background: linear-gradient(to top, #fffbeb 33%, #fff 33%, #fff 100%);
  }
}

.image-container {
  width: 50%;
  position: absolute;
  left: 0;
  bottom: -100px;
}
.image-container img {
  width: 100%;
}

.children-container {
  width: 66%;
  padding: 50px;
}
