* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}
.layout {
  width: 100%;
  border-radius: 24px;
  height: 100%;
  background: linear-gradient(to right, #fffbeb 33%, #fff 33%, #fff 100%);
  background-size: 100% 100%;
  padding: 40px;
  direction: rtl;
}

.image-container {
  width: 50%;
  position: absolute;
  left: 16px;
  bottom: -100px;
}
.image-container img {
  width: 100%;
}

.children-container {
  width: 50%;
  padding: 50px;
}

@media (max-width: 576px) {
  .layout {
    background: linear-gradient(to top, #fffbeb 25%, #fff 25%, #fff 100%);
  }
  .image-container {
    width: 80%;
    position: absolute;
    bottom: -30px;
  }
  .children-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .image-container {
    bottom: -30px;
  }
}

