.container {
  text-align: center;
  justify-content: center;
}

.title {
  text-align: right;
  @media (max-width: 578px) {
    text-align: center;
  }
}

.actions {
  direction: rtl;
  button {
    border-radius: 16px;
  }
  @media (max-width: 578px) {
    margin: auto;
  }
}

.list {
  display: flex;
  direction: rtl;
  justify-content: space-around;
  width: 100%;
  @media (max-width: 478px) {
   flex-direction: column;
  }
  li {
    text-align: right;
  }
}
